signature = {
  frames: 44,
  sheet: 2464px * 0.5,
  width: 192px * 0.5,
  height: 56px * 0.5
};

#signature {
  makeAbsolute: container.padding.top 50%;
  width: signature.width;
  height: signature.height;
  margin-{align}: -(signature.width * 0.5);
  background-image: url('../images/signature.png');
  background-size: signature.width;
}

// ANIMATION
@keyframes scaleDraw {
  /* 定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称 */
  0% {
    transform: scale(1); /* 开始为原始大小 */
  }

  25% {
    transform: scale(1.1); /* 放大1.1倍 */
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }
}

#signature:not(.loading) {
  // animation: signatureAnimation duration*2 steps(signature.frames - 1) forwards
  // @keyframes signatureAnimation
  // 100%
  // background-position: 0 (-(signature.sheet - signature.height))
  -webkit-animation-name: scaleDraw; /* 关键帧名称 */
  -webkit-animation-timing-function: ease-in-out; /* 动画的速度曲线 */
  -webkit-animation-iteration-count: infinite; /* 动画播放的次数 */
  -webkit-animation-duration: 5s; /* 动画所花费的时间 */
}
