.template[data-template=aboutme] {
    templateAnimation('main > *', 1, duration3);
    templateAnimation('.p > *', 15, duration8);

    .small {
        margin-bottom: baseline * 0.25;
    }
}

.wrapper.aboutme {
    min-width: 380px;
}
