.template[data-template=home] {
  templateAnimation('.p > *', 2, duration3);
  templateAnimation('main .links > *', 3, duration5);
  templateAnimation('footer .links > *', 7, duration8);

  .links {
    img {
      // display: none;
      width: 14px;
      height: 14px;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100%;
      position: absolute;
    }

    a p {
      margin-left: 18px;
    }
  }
}