.template.color-blue(data-template='blog')
  
  //- MAIN
  main
    .h1
      span Get ready to 
      span  visit my  #[mark tech blog site]..
    .p: span We’ll be getting into blog within #[time 5] seconds.
    .links: a.link.router(href='#' title='Back to home now' data-callback='blogCallback') Back to home now
