.template.color-red(data-template='projectsAll')
  
  //- MAIN
  main
    .h1
      span
      span #[mark latest projects]
    .small
      span These are some projects I'm proud of creating,
      span contributing, or being part of.
    
    //- LIST
    ul.list.blocks
      +listItem('Sep 07, 2020', 'remove-repos - 批量删除 Github 仓库工具', 'https://github.com/zhmbo/remove-repos')
      +listItem('Sep 07, 2020', 'Github - Profile', 'https://github.com/zhmbo/zhmbo')
      +listItem('Sep 23, 2020', 'Blogs - 博客笔记', 'https://github.com/zhmbo/blogs')
      +listItem('Aug 20, 2019', 'ZBCodeMixer - iOS混淆工具', 'https://github.com/zhmbo/ZBCodeMixer')
      +listItem('Nov 09, 2017', 'zhmbo-website-old - 2017Blogs', 'https://github.com/zhmbo/zhmbo-website-old')
      +listItem('Mar 07, 2017', 'ZBCellConfig - UITableViewCell++', 'https://github.com/zhmbo/ZBCellConfig')
      +listItem('Aug 04, 2017', 'CCAlert - Cocos 弹窗插件', 'https://github.com/zhmbo/CCAlert')
      +listItem('Mar 15, 2017', 'ZBLiveBarrage - 直播弹幕', 'https://github.com/zhmbo/ZBLiveBarrage')
      +listItem('Jun 24, 2017', 'Alarm-CocosCreator - 使用 Cocos 实现闹铃框架', 'https://github.com/zhmbo/alarm-cocoscreator')
      +listItem('Jul 30, 2017', 'Objectiv-C CodeSinppets - 代码块', 'https://github.com/zhmbo/CodeSnippets')
      +listItem('Aug 07, 2016', 'SIMPLE_ALARM - 仿系统闹铃', 'https://github.com/zhmbo/SIMPLE_ALARM')
      +listItem('Oct 18, 2016', 'OwniOS - 早年整理凌乱的知识点', 'https://github.com/zhmbo/OwniOS')
    
    .links: a.link.router(href='#' title='Back to home') Back to home
