doctype html
html(lang="en" dir="ltr")
  
  //- HEAD
  head
    
    //- TITLE AND META TAGS
    block title
      title zhmbo
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block meta
      meta(name="description" content="I`m zhmbo a developer from shenzhen.")
      meta(name="author" content="zhmbo")
      meta(name="keywords" content="zhmbo,zhmbo,zhmbo的技术博客,个人博客,博客搭建,专注iOS技术分享,iOS,iOS进阶,iOS高级,OC,Objective-C,Swift,SwiftUI,Apple,上架,Flutter,OpenGL,Xcode,RxSwift,UIButton,UITableView,网络请求,Github,GithubActions,算法,架构,面试,zhmbo,zb,ZB,zhmbo,zhmbo")
      meta(property="og:url" content="https://zhmbo.cn/")
      meta(property="og:image" content="https://zhmbo.cn/includes/images/opengraph.png")
    
    //- INCLUDES
    link(rel="icon" type="image/png" href="includes/images/favicon.png")
    link(rel="stylesheet" href="includes/stylesheets/zhmbo.lite.css?v=27")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.3/mobile-detect.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js")
    script(src="includes/javascripts/zhmbo.lite.js?v=27")
    script(src="https://code.bdstatic.com/npm/leancloud-storage@4.12.0/dist/av-min.js")
    script(src="https://pv.sohu.com/cityjson?ie=utf-8")

  //- BODY
  body
    
    include ../mixins/fields
    include ../mixins/lists
    
    //- CONTENT
    block content
    
    img(src="includes/images/identity.png" style="display: none" title="zhmbo identity" alt="zhmbo identity")
